h1 {
    font-family: 'Lobster', cursive;
    font-size: 60;
    color: #000000;
    clear:none;
}

html {
    font-family: 'Lato', cursive;
    font-size: 20;
  }
  
  .eprime_text {
    background-color:gray;
    margin-left: 4%;
    margin-right: 20%;
}
.ep_violation {color: red}
.ep_warning {color: blue}